.imageWrapper {
  position: relative;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
.summary {
  border-top: 1px solid #ccc;
  display: flex;
  padding: 1rem 1.875rem;
  justify-content: space-between;
  align-items: center;
}
.bigText {
  color: #3d3d3d;
  font-family: Pretendard;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.detail {
  margin: 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.leftDetailSection {
  display: inline-flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}
.detailTime {
  color: #555;
  text-align: center;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.0375rem;
}
.rightDetailSection {
  display: inline-flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: end;
}
.detailSummary {
  color: #8b8b8b;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.0375rem;
}
.detailTemp {
  color: #3d3d3d;
  text-align: center;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.0375rem;
}
.detailWrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateY(-0.5rem);
  visibility: hidden;
}
.open {
  max-height: 10rem;
  opacity: 10;
  transform: translateY(0);
  visibility: visible;
}
