.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroTitle {
  color: #3d3d3d;
  margin-bottom: 5%;
  text-align: center;
  font-family: Pretendard;
  font-size: 5.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 110%; /* 5.6375rem */
  letter-spacing: -0.0375rem;
}

.highLight {
  display: block;
  color: #ff0045;
}

.explain {
  color: #8b8b8b;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.imageWrapper {
  position: relative;
  width: 26.875rem;
  height: 20.0625rem;
  flex-shrink: 0;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
